@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model web2.Models.woundAssessmentImage*@

@{
	ViewBag.Title = "Upload Image";
	//Layout = "_Layout";
}



<div id='patientName'></div>
<div id='dos'></div>
<p>&nbsp;</p>
<input id="uploadImg" type="file" accept="image/*" capture="camera" hidden="hidden" onchange="HandleFileSelect(this);" />

<p>&nbsp;</p>
<input type="button" id="submitToApi" value="Submit"/>
<p>&nbsp;</p>

<img id="display" src="#" alt="uploaded image" />

<textarea rows="10" id="elShow"></textarea>

<script>
	var idAssessment='@ViewBag.idAssessment';
	var model = {};

	function convertImgToBase64URL(url, callback, outputFormat) {
		var img = new Image();
		img.crossOrigin = 'Anonymous';
		img.onload = function () {
			var canvas = document.createElement('CANVAS'),
			ctx = canvas.getContext('2d'), dataURL;
			canvas.height = this.height;
			canvas.width = this.width;
			ctx.drawImage(this, 0, 0);
			dataURL = canvas.toDataURL(outputFormat);
			callback(dataURL);
			canvas = null;
		};
		img.src = url;
	}

	function LaunchCamera() {
		$("#submitToApi").click();
	}
	var reader = new FileReader();

	function HandleFileSelect(input) {
		if (input.files && input.files[0]) {

			reader.onload = function (e) {

				convertImgToBase64URL(e.target.result, function (base64Img) {
					//TODO: wsc eventually change this to populate multiple
					model.images[0].number = 1;
					model.images[0].data = base64Img;
					console.log(base64Img);
					$('#elShow').val(JSON.stringify(model));

				});

				$("#display")
					.attr("src", e.target.result)
					.width(150)
					.height(200);
			}

			reader.readAsDataURL(input.files[0]);
			$("#display").show();
		} else {
			$("#display").attr("src", "#");
			$("#display").hide();
		}
	}

	$(function () {

		///api/WoundAssessment/get/234057
		var baseApi = '/api/WoundAssessment/';
		var getApi = baseApi + 'get/' + idAssessment;
		var postApi = baseApi + 'post';

		$.ajax({
			url: getApi,
			dataType: 'json',
			type: 'GET',
			success: function(value) {
				console.log(value);
				model = value;

				$('#patientName').html(model.patientName);
				$('#dos').html(model.dos);

			},
			error: function(value) {
				console.log(value);
				toastr.error(value.message);
			}
		});

		$('#submitToApi').click(function () {
			$.ajax({
				url: postApi,
				traditional:true,
				contentType: "application/json; charset=utf-8",
				dataType: 'application/json',
				type: 'POST',
				data: JSON.stringify(model),
				success: function (value) {
					console.log(value);
					toastr.success(value.status);
				},
				error: function (value) {
					console.log(value);
					toastr.error(value.message);
				}
			});
		});
	});
</script>

@section Scripts {
	<script>

	</script>
}
