@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model web2.Models.woundAssessmentImage*@

@{
	ViewBag.Title = "Upload Image";
	//Layout = "_Layout";
}



<div id='patientName'></div>
<div id='dos'></div>
<p>&nbsp;</p>
<input id="uploadImg" type="file" accept="image/*" capture="camera" hidden="hidden" onchange="HandleFileSelect(this);" />

<p>&nbsp;</p>
<input type="button" id="submitToApi" value="Submit"/>
<p>&nbsp;</p>

<img id="display" src="#" alt="uploaded image" />

<canvas id="tmpCanvas"></canvas>

<script>
	var idAssessment='@ViewBag.idAssessment';
	var model = {
		document: {
			TunnelingLocations: [
				{
					PositionCode: 2,
					Position: "2",
					Distance: null
				}
			],
			UnderminingLocations: [
				{
					UnderminingWoundMargin: null,
					StartingPositionCode: 2,
					StartingPosition: "2",
					EndingPositionCode: 2,
					EndingPosition: "2",
					Distance: null
				}
			],
			SinusTractLocations: [],
			ProductsUsed: [],
			WoundAssessmentID: 141796,
			WoundCondition: null,
			WoundEncounter: null,
			BWATScore: null,
			DepthDescription: null,
			Edges: null,
			NecroticTissueType: null,
			NecroticTissueAmount: null,
			ExudateType: null,
			ExudateAmountBWAT: null,
			SkinColorSurroundingWound: null,
			PeripheralTissueEdema: null,
			PeripheralTissueInduration: null,
			GranulationTissueType: null,
			EpithelializationBWAT: null,
			HasTrueSeePhoto: false,
			RulerNumber: null,
			NoMeasurableDepth: false,
			ReportingVolume: null,
			MeasurementOnlyAssessment: false,
			PerNursingAssessment: false,
			CapsuleExposed: null,
			SuspectedOsteomyelitis: null,
			Bogginess: null,
			DryEscharFluctuance: null,
			NonGranulation: null,
			NonGranulationBiofilm: null,
			NonGranulationDessicated: null,
			EdemaNumericExtent: null,
			Denuded: null,
			SSAbscess: null,
			SSInflammationExtendingToBone: null,
			SSPoorlyDefinedErythemalBorder: null,
			SSWarmthExtendingBeyondLocalPeriWound: null,
			SSFever: null,
			SSIncreasedEdema: null,
			SSNewOnset: null,
			SSMalaise: null,
			SSDrainageDisproportionate: null,
			SSDrainageThick: null,
			SSFoulWoundOdor: null,
			SSWoundStalling: null,
			SSPocketing: null,
			SSChangesInGranulationTissue: null,
			SSInfectionSeverityCode: null,
			SSOther: null,
			SSInfectionSeverity: null,
			SSOtherDescription: null,
			PhotoMeasurementData: [],
			PhotoCount: null,
			DenudedCode: null,
			NonGranulationBiofilmCode: null,
			NonGranulationDessicatedCode: null,
			CapsuleExposedCode: null,
			ExposedTendonNecrosisCode: null,
			ExposedTendonNecrosis: null,
			ExposedLigamentNecrosisCode: null,
			ExposedLigamentNecrosis: null,
			ExposedMuscleNecrosisCode: null,
			ExposedMuscleNecrosis: null,
			ExposedJointNecrosisCode: null,
			ExposedJointNecrosis: null,
			ExposedBoneNecrosisCode: null,
			ExposedBoneNecrosis: null,
			CapsuleExposedNecrosisCode: null,
			CapsuleExposedNecrosis: null,
			ExposedAdiposeCode: null,
			ExposedAdipose: null,
			ExposedAdiposeNecrosisCode: null,
			ExposedAdiposeNecrosis: null,
			WoundID: 172138,
			WoundNumber: "1",
			WoundLocation: "Flank - Inferior",
			WoundTypeCode: 168,
			WoundType: "Open Surgical Wound",
			DateAcquired: null,
			WoundStatusCode: 55,
			WoundStatus: "Open",
			WoundOutcomeLevelCode: null,
			WoundOutcomeLevel: "",
			BurnType: null,
			BiteType: null,
			InflammatoryUlcerType: null,
			ComorbidHistory: "Quadriplegia, Paralysis, Frequent /recurring headaches, Light headed or dizzy",
			ClusteredWound: false,
			WoundingEvent: "Blister",
			WeeksTreated: 53,
			PendingAmputationOnPresentation: false,
			UnderTreatmentOutsideWoundCenter: false,
			SecondaryType: "",
			WoundNotes: "TEST TO SEE THE NOTES ENTERED IN woUND APPEAR IN VIEWER",
			PhotoFileExtension: "",
			NumberOfPhotos: 1,
			PhotoUser: {
				ID: null,
				FirstName: "",
				LastName: "",
				MiddleName: "",
				Credentials: "",
				MiddleInitial: "",
				FormalName: ""
			},
			PhotoDate: "/Date(-62135578800000)/",
			PushScore: null,
			PushExudateAmountCode: null,
			PushExudateAmount: "",
			PushTissueTypeCode: null,
			PushTissueType: "",
			TreatmentDuration: null,
			Length: 1,
			Width: 1,
			Depth: 1,
			Area: 0.785,
			Volume: 0.785,
			HypergranulatedCode: 0,
			Hypergranulated: "No",
			TunnelingOrUnderminingCode: null,
			TunnelingOrUndermining: "",
			TunnelingOrUnderminingPositionCode: null,
			TunnelingOrUnderminingPosition: "",
			TunnelingUnderminingDistance: null,
			TunnelingCode: -1,
			Tunneling: "Yes",
			UnderminingCode: -1,
			Undermining: "Yes",
			SinusTractCode: null,
			SinusTract: "",
			ClusteredQuantity: null,
			PercentOfInitialWoundArea: null,
			PercentOfInitialWoundVolume: null,
			EpithelializationCode: null,
			Epithelialization: null,
			PercentReductionFromInitialWoundArea: -3170.8,
			PercentReductionFromInitialWoundVolume: -6441.7,
			WoundProgressCode: null,
			WoundProgress: "",
			StageCode: 501,
			Stage: "Full Thickness With Exposed Support Structures",
			WagnerVerificationCode: null,
			WagnerVerification: "",
			PulseCode: null,
			Pulse: "",
			ExposedFasciaCode: 1,
			ExposedFascia: "N/A",
			ExposedFatLayerCode: 1,
			ExposedFatLayer: "N/A",
			ExposedTendonCode: 1,
			ExposedTendon: "N/A",
			ExposedLigamentCode: 1,
			ExposedLigament: "N/A",
			ExposedMuscleCode: 1,
			ExposedMuscle: "N/A",
			ExposedJointCode: 1,
			ExposedJoint: "N/A",
			ExposedBoneCode: 1,
			ExposedBone: "N/A",
			ExposedSkinBreakdownCode: 0,
			ExposedSkinBreakdown: "No",
			IsExposedSkinBreakdown: false,
			PainCode: null,
			Pain: "",
			ColorCode: null,
			Color: "",
			SurroundingSkinColorCode: null,
			SurroundingSkinColor: "",
			SurroundingSkinCode: null,
			SurroundingSkin: "",
			CultureSentCode: 1,
			CultureSent: "",
			DateSent: null,
			FoulOdorAfterCleansingCode: null,
			FoulOdorAfterCleansing: "",
			FoulOdorDueToProductUse: false,
			HBOClassificationCode: null,
			HBOClassification: "",
			WagnerVerification_Method: "",
			WagnerVerification_Rationale: "",
			ExudateCode: null,
			Exudate: "",
			ExudateAmountCode: null,
			ExudateAmount: "",
			OdorCode: null,
			Odor: "",
			WoundMarginCode: null,
			WoundMargin: "",
			SloughLessThan20Code: null,
			SloughLessThan20: "",
			PeriWoundSkinCode: null,
			PeriWoundSkin: "",
			DryBlackEscharCode: null,
			DryBlackEschar: "",
			MoistBlackEscharCode: null,
			MoistBlackEschar: "",
			AdherentYellowSloughCode: null,
			AdherentYellowSlough: "",
			MoistYellowSloughCode: null,
			MoistYellowSlough: "",
			RedGranulationCode: null,
			RedGranulation: "",
			GranulationColorGreyCode: null,
			GranulationColorGrey: "",
			GranulationColorRedCode: null,
			GranulationColorRed: "",
			GranulationColorPinkCode: null,
			GranulationColorPink: "",
			GranulationHypergranulatedCode: null,
			GranulationHypergranulated: "",
			SloughCode: null,
			Slough: "",
			EscharCode: null,
			Eschar: "",
			GranulationTextureCode: null,
			GranulationTexture: "",
			EpithializationCode: null,
			Epithialization: "",
			OtherCode: null,
			Other: "",
			GranulationAmountCode: null,
			GranulationAmount: "",
			GranulationQualityRed: false,
			GranulationQualityPink: false,
			GranulationQualityPale: false,
			GranulationQualityHypertrophic: false,
			GranulationQualityHyperGranulation: false,
			GranulationQualityFriable: false,
			NecroticAmountCode: null,
			NecroticAmount: "",
			NecroticTypeBlackEschar: false,
			NecroticTypeYellowSlough: false,
			NecroticTypeWetHydrated: false,
			NecroticTypeDryDessicated: false,
			NecroticTypeAdherentSlough: false,
			NecroticTypeMuscle: false,
			NecroticTypeBone: false,
			LowerExtremityEdemaCode: 1,
			LowerExtremityEdema: "N/A",
			InadequateNutritionCode: 1,
			InadequateNutrition: "N/A",
			ImmobilityCode: 1,
			Immobility: "N/A",
			ProtectiveSensationCode: 1,
			ProtectiveSensation: "N/A",
			DecreasedPerfusionCode: 1,
			DecreasedPerfusion: "N/A",
			NurseOnlyVisit: false,
			UseCentimeters: true,
			DateNotifiedDietary: null,
			DateNotifiedFamily: null,
			DateNotifiedPhysician: null,
			PlanofCareUpdatedCode: null,
			PlanofCareUpdated: "",
			TreatmentResponseCode: null,
			TreatmentResponse: "",
			TreatmentCode: null,
			Treatment: "",
			ParingCode: null,
			Paring: "",
			HyperGranTreatedCode: null,
			HyperGranTreated: "",
			NormalTexture: false,
			EdemaCode: 1,
			Edema: "Not Assessed",
			IndurationCode: 1,
			Induration: "Not Assessed",
			BrawnyIndurationCode: 1,
			BrawnyInduration: "Not Assessed",
			CallusCode: 1,
			Callus: "Not Assessed",
			FriableCode: 1,
			Friable: "Not Assessed",
			RashCode: 1,
			Rash: "Not Assessed",
			NecroticTissueCode: 1,
			NecroticTissue: "Not Assessed",
			ExcoriationCode: 1,
			Excoriation: "Not Assessed",
			CrepitusCode: 1,
			Crepitus: "Not Assessed",
			FluctuanceCode: 1,
			Fluctuance: "Not Assessed",
			CellulitisCode: null,
			Cellulitis: "",
			ShinyCode: null,
			Shiny: "",
			ScarringCode: 1,
			Scarring: "Not Assessed",
			NormalMoisture: false,
			MacerationCode: 1,
			Maceration: "Not Assessed",
			DryScalyCode: 1,
			DryScaly: "Not Assessed",
			MoistCode: 1,
			Moist: "Not Assessed",
			NormalColor: false,
			RuborCode: -1,
			Rubor: "Yes",
			ErythemaCode: -1,
			Erythema: "Yes",
			ErythemaLocCircumferential: false,
			ErythemaLocRedStreaks: false,
			ErythemaMeasurementTypeCode: null,
			ErythemaMeasurementType: "",
			ErythemaMeasurement: null,
			ErythemaChangeCode: null,
			ErythemaChange: "",
			PallorCode: -1,
			Pallor: "Yes",
			CyanosisCode: -1,
			Cyanosis: "Yes",
			AtrophieBlancheCode: -1,
			AtrophieBlanche: "Yes",
			HemosiderosisCode: 1,
			Hemosiderosis: "Not Assessed",
			EcchymosisCode: -1,
			Ecchymosis: "Yes",
			MottledCode: 1,
			Mottled: "Not Assessed",
			TemperatureCode: null,
			Temperature: "",
			TendernessOnPalpation: false,
			SystematicInfectionCode: null,
			SystematicInfection: "",
			SSSignsAndSymptoms: null,
			SSCAndSPending: null,
			SSXRay: null,
			SSConfirmedLocal: null,
			SSConfirmedSystemic: null,
			SSSystemicAntibiotics: null,
			SSTopicalAntibiotics: null,
			GeneralComplianceCode: null,
			GeneralCompliance: "",
			ComplianceExerciseCode: 1,
			ComplianceExercise: "N/A",
			ComplianceCompressionCode: null,
			ComplianceCompression: "",
			ComplianceHBOVisitsCode: 1,
			ComplianceHBOVisits: "N/A",
			ComplianceWoundVisitsCode: 1,
			ComplianceWoundVisits: "N/A",
			ComplianceDietCode: 1,
			ComplianceDiet: "N/A",
			ComplianceOffloadCode: 1,
			ComplianceOffload: "N/A",
			ComplianceMedicationCode: 1,
			ComplianceMedication: "N/A",
			ComplianceDressingCode: 1,
			ComplianceDressing: "N/A",
			ComplianceLimbCode: 1,
			ComplianceLimb: "N/A",
			ComplianceOther: "",
			ComplianceSmokingCode: 1,
			ComplianceSmoking: "N/A",
			UlcerCleansingRinsedSaline: false,
			UlcerCleansingIrrigatedSaline: false,
			UlcerCleansingRinsedIrrigatedSaline: true,
			UlcerCleansingWoundCleanser: true,
			UlcerCleansingOther: false,
			UlcerCleansingOtherDesc: "",
			UlcerCleansingNotCleansed: true,
			UlcerCleansingNotCleansedDesc: "",
			TopicalAnestheticNone: false,
			TopicalAnestheticLidocaine4Percent: false,
			TopicalAnestheticLidocaine5Percent: false,
			TopicalAnestheticOther: false,
			TopicalAnestheticOtherDesc: "",
			TopicalAnestheticLidocaine1Percent: false,
			TopicalAnestheticLidocaine2Percent: false,
			TopicalAnestheticXylocaine4Percent: false,
			TopicalAnestheticXylocaineInjectable: false,
			TopicalAnestheticXylocaineInjectablePercent: "",
			TopicalAnestheticXylocaineInjectableTotalCc: "",
			SubmittedFromGrid: false,
			PhotoKey: "141796",
			PhotoType: 1,
			Photos: [
				"141796"
			],
			Notes: "",
			DocumentType: "WoundAssessmentDocument",
			PipelineStep: 0,
			ContinueSaving: true,
			Properties: {
				Physician: {
					ID: 150282,
					FirstName: "CQM physician",
					LastName: "physician",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "physician, CQM physician"
				},
				SecondPhysician: {
					ID: 150335,
					FirstName: "SHAZIA",
					LastName: "ABBAS",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "ABBAS, SHAZIA"
				},
				Clinician: {
					ID: 2366,
					FirstName: "Rahrlan",
					LastName: "Fhargountaground",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "Fhargountaground, Rahrlan"
				},
				SecondClinician: {
					ID: 2505,
					FirstName: "Mike A",
					LastName: "Lemon",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "Lemon, Mike A"
				},
				PhysicalTherapist: {
					ID: null,
					FirstName: "",
					LastName: "",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: ""
				},
				FacilityID: 2460,
				Status: 0,
				DateAdded: "/Date(1446048293036)/",
				User: {
					ID: 4654,
					FirstName: "Steve",
					LastName: "Cranford",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "Cranford, Steve"
				},
				LastUpdated: "/Date(1446048293031)/",
				LastUpdatedBy: {
					ID: 4654,
					FirstName: "Steve",
					LastName: "Cranford",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "Cranford, Steve"
				},
				SyncUserID: null,
				Signed: false,
				FacilitySettingsInstanceID: 11666,
				AccountNumber: "",
				DocumentApplicationProperties: null,
				ViewerVersions: {
					DocumentVersion: "3",
					ControlVersions: [
						{
							ControlName: "AddendumViewer",
							Version: "1"
						}, {
							ControlName: "CustomQuestionsViewer",
							Version: "1"
						}, {
							ControlName: "DocumentPropertiesCoCViewer",
							Version: "3"
						}, {
							ControlName: "DocumentPropertiesViewer",
							Version: "4"
						}, {
							ControlName: "ElectronicSignatureViewer",
							Version: "1"
						}, {
							ControlName: "NotesViewer",
							Version: "1"
						}, {
							ControlName: "PhotoViewer",
							Version: "1"
						}
					]
				},
				DocumentSettings: {
					SettingsInstanceID: 11666,
					FacilityID: 2460,
					UseCentimeters: true,
					UseCentimetersForStomas: true,
					VisitLabel: "Encounter"
				},
				DocumentID: {},
				Title: "Wound Assessment",
				VisitID: 3124793,
				Patient: {
					PatientNumber: "CQM_Final_1",
					PatientDOB: "2/1/1942",
					ID: 137234,
					FirstName: "Bryan",
					LastName: "Abbott",
					MiddleName: "",
					Credentials: "",
					MiddleInitial: "",
					FormalName: "Abbott, Bryan"
				},
				ParentDocumentID: {},
				DocumentDate: "9/23/2015",
				PreviousDocumentID: {},
				DocumentDateTime: "/Date(1442980800000)/",
				ShortDate: "9/23/2015"
			},
			Signatures: [],
			CustomQuestions: [
				{
					GroupName: "Test Group",
					Question: "wound assessment qs",
					QuestionID: 76,
					Answer: ""
				}
			],
			IsManuallyLocked: false,
			DocumentID: {},
			PatientID: 137234,
			VisitID: 3124793,
			Signed: false
		},
		assessmentId: 141796,
		woundId: 172138,
		photoKey: "141796",
		images: [
			{
				number: 1,
				data: ""
			}, {
				number: 2,
				data: ""
			}
		]
	};


	function convertImgToBase64URL(url, callback, outputFormat) {
		var img = new Image();
		img.crossOrigin = 'Anonymous';
		img.onload = function () {
			var canvas = document.createElement('CANVAS'),
			ctx = canvas.getContext('2d'), dataURL;
			canvas.height = this.height;
			canvas.width = this.width;
			ctx.drawImage(this, 0, 0);
			dataURL = canvas.toDataURL(outputFormat);
			callback(dataURL);
			canvas = null;
		};
		img.src = url;
	}

	function LaunchCamera() {
		$("#submitToApi").click();
	}
	var reader = new FileReader();

	function HandleFileSelect(input) {
		if (input.files && input.files[0]) {

			reader.onload = function (e) {

				convertImgToBase64URL(e.target.result, function (base64Img) {
					//TODO: wsc eventually change this to populate multiple
					model.images[0].number = 1;
					model.images[0].data = base64Img;
					console.log(base64Img);
					
				});

				$("#display")
					.attr("src", e.target.result)
					.width(150)
					.height(200);
			}

			reader.readAsDataURL(input.files[0]);
			$("#display").show();
		} else {
			$("#display").attr("src", "#");
			$("#display").hide();
		}
	}

	$(function () {

		///api/WoundAssessment/get/234057
		var baseApi = '/api/WoundAssessment/';
		var getApi = baseApi + 'get/' + idAssessment;
		var postApi = baseApi + 'post';

		$.ajax({
			url: getApi,
			dataType: 'json',
			type: 'GET',
			success: function(value) {
				console.log(value);
				model = value;

				$('#patientName').html(model.patientName);
				$('#dos').html(model.dos);

			},
			error: function(value) {
				console.log(value);
				toastr.error(value.message);
			}
		});

		$('#submitToApi').click(function () {
			$.ajax({
				url: postApi,
				traditional:true,
				contentType: "application/json; charset=utf-8",
				dataType: 'application/json',
				type: 'POST',
				data: {"model": JSON.stringify(model) },
				success: function (value) {
					console.log(value);
					toastr.success(value.status);
				},
				error: function (value) {
					console.log(value);
					toastr.error(value.message);
				}
			});
		});
	});
</script>

@section Scripts {
	<script>

	</script>
}
