<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NetHealth">
      <section name="DocumentPipelineModules" type="NetHealth.WoundExpert.DocumentUtilities.DocumentPipelineModules, NetHealth.WoundExpert.DocumentUtilities" />
      <section name="SessionFactory" type="NetHealth.WoundExpert.SessionManagement.Configuration, NetHealth.WoundExpert.SessionManagement" />
      <section name="DocumentLibrary" type="NetHealth.WoundExpert.DocumentUtilities.Configuration, NetHealth.WoundExpert.DocumentUtilities" />
      <section name="ApplicationURLOverrides" type="NetHealth.WoundExpert.Modules.ApplicationURLOverrides, NetHealth.WoundExpert.HandlersAndModules" />
    </sectionGroup>
  </configSections>	
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
	<connectionStrings>
		<!-- Local! -->
		<!--<add name="SureScripts" connectionString="Data Source=localhost;Initial Catalog=SureScripts;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient" />
    <add name="woundexpert" connectionString="data source=localhost;initial catalog=iHealQA;uid=woundpath;pwd=path852456;integrated security=false;" providerName="system.data.sqlclient" />
    <add name="woundexpertreporting" connectionString="data source=localhost;initial catalog=iHealQA;uid=woundpath;pwd=path852456;integrated security=false;" providerName="system.data.sqlclient" />-->

		<!--MigrationLocal-->
		<!--<add name="SureScripts" connectionString="Data Source=localhost;Initial Catalog=SureScripts;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
		<add name="woundexpert" connectionString="data source=localhost;initial catalog=WoundPath;integrated security=true;" providerName="system.data.sqlclient"/>
		<add name="woundexpertreporting" connectionString="data source=localhost;initial catalog=woundpath;integrated security=true;" providerName="system.data.sqlclient"/>-->


		<!-- MigrationInternalDB -->
		<!--<add name="woundexpert" connectionString="data source=10.216.92.140;initial catalog=woundpath;uid=woundpath;pwd=path852456;" providerName="system.data.sqlclient"/>
		<add name="woundexpertreporting" connectionString="data source=10.216.92.140;initial catalog=woundpath;uid=woundpath;pwd=path852456;" providerName="system.data.sqlclient"/>-->

		<!-- MigrationQADB -->
		<!--<add name="SureScripts" connectionString="Data Source=localhost;Initial Catalog=SureScripts;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
    <add name="woundexpert" connectionString="data source=MigrationQADB;initial catalog=ihealqa;integrated security=true;" providerName="system.data.sqlclient"/>
    <add name="woundexpertreporting" connectionString="data source=MigrationQADB;initial catalog=ihealqa;integrated security=true;" providerName="system.data.sqlclient"/>-->



		<!-- MigrationDB -->
		<!--<add name="SureScripts" connectionString="Data Source=.;Initial Catalog=SureScripts;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
		<add name="woundexpert" connectionString="data source=192.168.2.121;initial catalog=ihealqa;integrated security=true;" providerName="system.data.sqlclient"/>
		<add name="woundexpertreporting" connectionString="data source=.;initial catalog=ihealqa;integrated security=true;" providerName="system.data.sqlclient"/>-->

		<!-- All Others -->
		<!--<add name="SureScripts" connectionString="Data Source=192.168.2.21;Initial Catalog=SureScripts;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!-- DEV! -->
		<!--<add name="WoundExpert" connectionString="Data Source=192.168.2.21;Initial Catalog=iHealDEV;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=192.168.2.21;Initial Catalog=iHealDEV;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!--QA Green!-->
		<add name="WoundExpert" connectionString="Data Source=192.168.2.121;Initial Catalog=iHealQA;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
		<add name="WoundExpertReporting" connectionString="Data Source=192.168.2.121;Initial Catalog=iHealQA;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>

		<!-- QA Yellow! -->
		<!--<add name="WoundExpert" connectionString="Data Source=192.168.2.121;Initial Catalog=iHealYellow;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=192.168.2.121;Initial Catalog=iHealYellow;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!-- QA Yellow! -->
		<!--<add name="WoundExpert" connectionString="Data Source=192.168.2.21;Initial Catalog=iHealYellow2;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=192.168.2.21;Initial Catalog=iHealYellow2;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!-- Internal -->
		<!--<add name="WoundExpert" connectionString="Data Source=10.100.101.19;Initial Catalog=iHeal;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=10.100.101.19;Initial Catalog=iHealYellow;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!-- Prod? -->
		<!--<add name="WoundExpert" connectionString="Data Source=proddb;Initial Catalog=woundpath;uid=scranford;pwd=tXNXu5cgCj57;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=10.100.101.19;Initial Catalog=iHealYellow;uid=woundpath;pwd=path852456;" providerName="System.Data.SqlClient"/>-->

		<!--Prod (from scott)-->
		<!--<add name="WoundExpert" connectionString="Data Source=10.100.101.93;Initial Catalog=WoundPath;uid=woundpath;pwd=path852456;Max Pool Size=300;" providerName="System.Data.SqlClient"/>
    <add name="WoundExpertReporting" connectionString="Data Source=10.100.101.88;Initial Catalog=WoundPathReporting;uid=WoundPathReportViewer;pwd=repo372!;" providerName="System.Data.SqlClient"/>-->


	</connectionStrings>	
  <NetHealth>
    <DocumentPipelineModules>
      <!--<add name="ExampleModule" type="NetHealth.WoundExpert.HandlersAndModules.PipelineModules.ExampleModule" />-->
    </DocumentPipelineModules>
    <!--CachingConfiguration enabled="false" type="NetHealth.WoundExpert.Caching.AppFabricCachingProvider"/-->
    <SessionFactory type="NetHealth.WoundExpert.SessionManagement.ServerSessionFactory" />
    <DocumentLibrary type="NetHealth.WoundExpert.DocumentUtilities.DocumentLibraryDAL" />
    <!--<ApplicationURLOverrides>
      <add from="~/PublicPages/ResetPassword.aspx" to="~/PublicPages/WoundPath/ResetPassword.aspx" />
      <add from="~/Patient/ReminderList.aspx" to="~/Patient/WoundPath/ReminderList.aspx" />
      <add from="~/Patient/ProgressReport.aspx" to="~/Patient/WoundPath/ProgressReport.aspx" />
      <add from="~/Wound/WoundAnalysis.aspx" to="~/Wound/iHeal/WoundAnalysis.aspx" />
      <add from="~/Patient/PatientSearchResults.aspx" to="~/Patient/iHeal/PatientSearchResults.aspx" />
      <add from="~/Patient/PatientDetails.aspx" to="~/Patient/iHeal/PatientDetails.aspx" />
      <add from="~/Patient/Patient.aspx" to="~/Patient/iHeal/Patient.aspx" />
      <add from="~/DocumentLibrary/AddDocument.aspx" to="~/DocumentLibrary/iHeal/AddDocument.aspx" />
      <add from="~/DocumentLibrary/EditDocument.aspx" to="~/DocumentLibrary/iHeal/EditDocument.aspx" />
      <add from="~/Admin/FacilitySetup.aspx" to="~/Admin/iHeal/FacilitySetup.aspx" />
      <add from="~/Patient/PatientGrowthCharts.aspx" to="~/Patient/iHeal/PatientGrowthCharts.aspx" />
    </ApplicationURLOverrides>-->
  </NetHealth>

</configuration>
